__pycache__/
*.pyc
*.pyo
.venv/
.env
.idea/
.vscode/
test.ipnyb
venv
src/docfile/*
cc.en.300.bin
cc.en.300.bin.gz
F1_0_150.npy
F1_0_145.npy
F1_0_567.npy
F1_145_729.npy
P_0_145_729.npy
P_0_150.npy
P_0_167.npy
R_0_567.npy
R_0_150.npy
R_0_145_729.npy

F1_0_145_.npy
F1_0_567_.npy
F1_145_729_.npy
P_0_567_.npy

test_stage_notebook.ipnyb
